<h2>Welcome to FlightO</h2>

<%= form_with model: @airport, url: '/flights#bla', method: :get do |form| %>
<p>
<%= form.label :from %><br>
<%= form.select :from, @airports.collect{|airport| [airport.name, airport.code] }   %>
</p>
<p>
<%= form.label :to %><br>
<%= form.select :to, @airports.collect{|airport| [airport.name, airport.code] }   %>
</p>
<p>
<%= date_field("flight", "date", value: Date.today) %>
</p>
<%= form.submit :Search %>
<% end %>

<% if params[:commit] %>
<% @flight_list.each do |flight| %>
<%= flight.aircraft.name  if flight.arrival_airport.code == 'HYD' and flight.departure_airport.code == 'MAA' %>
<% end %>
<% end %> 