<h2>Welcome to FlightO</h2>

<%= form_with url: flights_path, method: :get do |form| %>
	<p>
	<%= form.label :from %><br>
	<%= form.collection_select :from, Airport.order(:code),:code, :name  %>
	</p>
	<p>
	<%= form.label :to %><br>
	<%= form.collection_select :to, Airport.order(:code), :code, :name  %>
	</p>
	<p>
	<%= form.label :num_tickets %><br>
	<%= form.select(:num_tickets, [1,2,3,4]) %>
	</p>
	<p>
	<%= form.label :date %><br>
	<%= date_field("flight", "date", value: Date.today ) %>
	</p>
	<%= form.submit :Search %>
<% end %>

<% if params[:commit] %>
<%= form_with model: @booking, url: booking_path, method: :get do |form| %>
 <%= collection_radio_buttons(:flight,:selected, @available_flights, :id, :flight_details) %><br>
 <%= form.hidden_field :passenger_number, value: params[:num_tickets] %>
 <%= form.submit "Book" %>
<% end %> 
<% end %>